{% macro render_field(field) -%}
    {% if field.type == 'CSRFTokenField' %}
        {{ field }}
        {% if field.errors %}<div class="warning">You have submitted an invalid CSRF token</div>{% endif %}
    {% elif field.type == 'HiddenField' %}
        {{ field }}
    {% elif field.type == 'SubmitField' %}
        <button type="submit"
                class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
            {{ field.label.text or "Submit" }}
        </button>
    {% else %}
        <div>
            <label for="{{ field.label.field_id }}"
                   class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">{{ field.label.text }}</label>
            {{ field(class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500", placeholder=field.description) }}
            {% for err in field.errors %}<p>{{ err|e }}</p>{% endfor %}
        </div>
    {% endif %}
{%- endmacro %}
