{% from "macros/buttons.html" import render_button_link %}
{% from "macros/inputs.html" import render_input %}
{% extends "base-layout.html" %}
{% block main_content %}
    <section class="bg-white dark:bg-gray-800 relative shadow-md sm:rounded-lg dark:border antialiased w-full max-w-screen-xl dark:border-gray-700 overflow-hidden">
        <h1 class="p-4 pb-0 text-xl font-bold text-gray-900 md:text-2xl dark:text-white">Meine Veranstaltungen</h1>
        <div class="flex flex-col md:flex-row items-center justify-between space-y-3 md:space-y-0 md:space-x-4 p-4">
            <div class="w-full md:w-1/2">
                <form class="flex items-center">
                    <label for="simple-search" class="sr-only">Suchen</label>
                    <div class="relative w-full">
                        <div class="absolute inset-y-0 left-0 flex items-center pl-3 pointer-events-none">
                            {% include "icons/search.svg" %}
                        </div>
                        <input id="simple-search"
                               class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-500 focus:border-primary-500 block w-full pl-10 p-2 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500"
                               placeholder="Suchen [noch nicht implementiert]">
                    </div>
                </form>
            </div>
            {% call render_button_link(href=url_for("new_event")) %}
                {% include "icons/plus.svg" %}
                Neue Veranstaltung
            {% endcall %}
        </div>
        <div class="overflow-x-auto min-h-[60vh]">
            <table class="w-full text-sm text-left text-gray-500 dark:text-gray-400">
                <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
                    <tr>
                        <th scope="col" class="px-4 py-4">Veranstaltungsname</th>
                        <th scope="col" class="px-4 py-3">Veranstaltungstyp</th>
                        <th scope="col" class="px-4 py-3">Beschreibung</th>
                        <th scope="col" class="px-4 py-3">Start</th>
                        <th scope="col" class="px-4 py-3">Ende</th>
                        <th scope="col" class="px-4 py-3">
                            <span class="sr-only">Aktionen</span>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    {% for event in events %}
                        <tr class="border-t dark:border-gray-700">
                            <th scope="row"
                                class="px-4 py-3 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                                {{ event.name }}
                            </th>
                            <td class="px-4 py-3">{{ event.event_type.value }}</td>
                            <td class="px-4 py-3 max-w-[12rem] truncate">{{ event.description }}</td>
                            <td class="px-4 py-3">{{ event.start }}</td>
                            <td class="px-4 py-3">{{ event.end }}</td>
                            <td class="px-4 py-3 flex items-center justify-end">
                                <button id="event-{{ loop.index }}-dropdown-button"
                                        data-dropdown-toggle="event-{{ loop.index }}-dropdown"
                                        class="inline-flex items-center text-sm font-medium hover:bg-gray-100 dark:hover:bg-gray-700 p-1.5 dark:hover-bg-gray-800 text-center text-gray-500 hover:text-gray-800 rounded-lg focus:outline-none dark:text-gray-400 dark:hover:text-gray-100"
                                        type="button">{% include "icons/ellipsis.svg" %}</button>
                                <div id="event-{{ loop.index }}-dropdown"
                                     class="hidden z-10 w-44 bg-white rounded divide-y divide-gray-100 shadow dark:bg-gray-700 dark:divide-gray-600">
                                    <ul class="py-1 text-sm"
                                        aria-labelledby="event-{{ loop.index }}-dropdown-button">
                                        <li>
                                            <a href="{{ url_for("view_event", id = event.id) }}"
                                               class="flex w-full items-center py-2 px-4 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white text-gray-700 dark:text-gray-200">
                                                {% include "icons/eye.svg" %}
                                                Ansehen
                                            </a>
                                        </li>
                                        <li>
                                            <a href="{{ url_for("delete_event", id=event.id) }}"
                                               class="flex w-full items-center py-2 px-4 hover:bg-gray-100 dark:hover:bg-gray-600 text-red-500 dark:hover:text-red-400">
                                                {% include "icons/trashcan.svg" %}
                                                Löschen
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </td>
                        </tr>
                    {% else %}
                        <tr>
                            <th scope="row"
                                class="px-4 py-3 font-medium text-gray-900 whitespace-nowrap dark:text-gray-400">
                                Keine Veranstaltungen
                            </th>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </section>
{% endblock %}
